{
    "extends": "airbnb",
    "parserOptions":
    {
        "ecmaVersion": 6
    },
    "env":
    {
        "node":true,
        "browser":true,
        "es6":true
    },
    "rules":
    {
        "linebreak-style": "off",
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "curly": "off",
        "react/react-in-jsx-scope": "off",
        "no-unused-vars": [
            "warn",
            {
                "vars": "local",
                "args": "none"
            }
        ],
        "brace-style": ["warn", "allman"],
        "eol-last": "off",
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
        "space-before-function-paren": ["off", "as-needed"],
        "arrow-body-style": "off",
        "arrow-parens": ["warn", "always"],
        "no-plusplus": "off",
        "no-use-before-define": ["error", { "functions": false, "classes": true, "variables": false }],
        "prefer-destructuring": "off",
        "prefer-template": "off",
        "max-len": "off",
        "react/prefer-stateless-function": "warn",
        "react/no-multi-comp": "warn",
        "class-methods-use-this": "off",
        "react/no-did-mount-set-state": "off"
    }
}